@page
@model RazorBuild.Pages.shows.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Shows Index</h1>

@foreach (var show in Model.shows)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@show.Title</h5>
            <p class="card-text">@show.Description</p>
            <a href="#" class="btn btn-primary">@show.StreamingService</a>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
