@page
@model RazorBuild.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
<h1>About</h1>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
