@page
@model RazorBuild.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
<h1>About</h1>
</div>
<p>This is the about page!</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
